/* BACKGROUND */
.login-bg {
  min-height: 100vh;
  background:
    linear-gradient(rgba(255,255,255,0.45), rgba(0, 119, 140, 0.392)),
    url("../../assets/splash.jpg");
  background-size: cover;
  background-position: center;
}

/* ROW CENTER */
.login-wrapper {
  min-height: 100vh;
}

/* LOGO */
.login-logo {
  width: 380px;
  max-width: 100%;
}

/* GLASS CARD */
.glass-card {
  width: 100%;
  max-width: 380px;
  background: rgba(255, 255, 255, 0.247);
  backdrop-filter: blur(18px);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  padding: 10px;
}

/* MOBILE */
@media (max-width: 768px) {
  .login-logo {
    width: 440px;
    height: auto;
  }
}
