.layout {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #111;
  color: white;
  height: 100vh;
  padding: 20px;
  position: fixed;
}

.sidebar h3 {
  color: #fff;
  margin-bottom: 25px;
}

.sidebar a {
  display: block;
  color: #ddd;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 8px;
  border-radius: 6px;
}

.sidebar a:hover {
  background: #222;
}

.main {
  margin-left: 240px;
  padding: 25px;
  width: 100%;
}
